/*
 * foxfile.css - FoxFile
 * (C) Theodore Kluge 2014-2015
 * villa7.github.io
*/

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #ccc;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #222;
	overflow: hidden;
}
 input:active,
    input:focus,
    button:active,
    button:focus {
    outline: 0 none;
    background: rgba(255,255,255,.3);
	}
::selection {
	background: rgba(255,255,255,.1);
}
#wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0 0 0px 0;
	position: absolute;
	color: #ccc;
}
.heightsettertext {
	color: rgba(0,0,0,0);
}
hr {
	border-top: rgba(255,255,255,.3);
}
.menubar {
	overflow-y: auto;
	position: absolute;
	width: 100%;
	top:89px;left:0;right:0;bottom:0;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	-webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.alertbox {
	position: fixed;
	bottom: 60px;
	right: 20px;
	width: auto;
	color: #fff;
	text-align: center;
	z-index: 1000;
}
.alert-item {
	position: relative;
	display: none;
	border: 1px solid #000;
	border-radius: 5px;
	width: auto;
	padding: 3px 20px;
	margin: 0;
	margin-top: 3px;
	/*-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;*/
}
.alert-error {
	border-color: #f70d1a !important;
	background: rgba(246, 40, 23,.4) !important;
}
.alert-warning {
	border-color: #d4a017 !important;
	background: rgba(212, 160, 23,.4) !important;
}
.alert-info {
	border-color: #1589ff !important;
	background: rgba(21, 137, 255,.4) !important;
}
.alert-success {
	border-color: #41a317 !important;
	background: rgba(65, 163, 23,.4) !important;
}
.footer {
	position: absolute;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	width: 100%;
	bottom: 0px;
	left: 0px;
	height: 40px;
	border-top: #000 1px solid;
	background: rgba(255,255,255,.2);
	font-family: 'aruallight', sans-serif;
	font-weight: bolder;
}
.smalltext {
	font-size: 12px;
}
.copyright {
	position: absolute;
	left: 0;
	margin-left: 20px;
}
.btn {
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.btn:hover {
	/*color: rgb(248, 114, 0);*/
}
.btn-logout {
	float:right;
	font-size: 120%;
	z-index: 100;
}
a {
	text-decoration: none;
	color: rgb(250, 101, 0);
}
a:hover {
	color: #ccc;
}
.bar {
	background: #222;
	/*position: relative;*/
	width: 25%;
	position: absolute;
	float: left;
	padding: 0px;
	-webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}
.bar-main {
	width: 25%;
	background: #222;
	border-left: none;
}
.bar-vertical {
	min-height: 100%;
	border-left: 2px solid #333;
	margin-left: -2px;
}
.bar-full {
	width: 75%;
	left: 25%;
}
.bar-backbutton {
	padding-right: 20px;
	color: rgb(248, 114, 23);
}
.bar-backbutton:hover {
	color: #ccc;
}
.menubar {
	border-top: solid 2px rgb(250, 101, 0);
	-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.title,
.menubar-title {
	/*background: rgba(0,0,0,.2);*/
	background: #222;
	padding: 20px;
	/*padding-bottom: 5px;*/
	letter-spacing: 5px;
	font-family: 'quicksandlight', sans-serif;
}
.menubar-title:not(.title) {
	letter-spacing: 0 !important;
	font-size: 25px;
}
.menubar-title-link {
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%; 
	display: inline-block;
}
.menubar-title-link-home {
	padding-right: 20px;
}
.menubar-content {
	padding: 5px 20px;
	border-bottom: 1px solid #2c2c2c;
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menubar-content-main,
.menubar-content {
	padding: 10px 20px;
	font-size: 90%;
}
.menubar-content-user {
	padding: 20px 20px;
	font-size: 110%;
}
.menubar-content:not(.menubar-content-active):hover {
	background: rgba(255,255,255,.02);
	-webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.menubar-content-active {
	background: rgba(248, 114, 23, .3);
}
/*.menubar-content-active:hover {
	background: rgba(248, 114, 23, .8);
}*/
.menubar-content:before { /*default to file icon*/
	color: #666;
	font-family: 'FontAwesome';
	content: '\f016';
	padding-right: 13px;
	font-size: 120%;
}
.menubar-content img {
	display: none;
}
.menubar-content-user:before,
.menubar-content-main:before {
	content: none !important;
	width: 0;
}
.menubar-content[type='file']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f016';
	padding-right: 13px;
}
.menubar-content .file-info #filesize[unit="bytes"]:after {
	color: #666;
	content: " B";
}
.menubar-content .file-info #filesize[unit="kilobytes"]:after {
	color: #666;
	content: " KB";
}
.menubar-content .file-info #filesize[unit="megabytes"]:after {
	color: #666;
	content: " MB";
}
.menubar-content[type='folder'] .file-info #filesize:after {
	color: #666;
	content: " --";
}
.menubar-content[type='folder'] .file-info #filesize span:not(span.filetype) {
	color: #666;
	display: none;
}
/*.menubar-content[type='folder'] .file-info:after {
	font-family: 'FontAwesome';
	content: '\f105';
	float: right;
	color: #ccc;
	padding-left: 20px;
	font-size: 11pt;
}*/
.menubar-content .file-info:after {
	/*content: ' ';*/ /*1 character blank space character*/
	content: " ";
	float: right;
	padding-left: 26px;
	font-size: 15pt;
}
.menubar-content[type='folder']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f07b';
	padding-right: 10px;
}
.menubar-content[type='folder'].menubar-content-active:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f07c';
	padding-right: 8px;
}
.menubar-content[type='zip']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f1c6';
	padding-right: 13px;
}
.menubar-content[type='pdf']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f1c1';
	padding-right: 13px;
}
.menubar-content[type='text']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f0f6';
	padding-right: 13px;
}
.menubar-content[type='audio']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f1c7';
	padding-right: 13px;
}
.menubar-content[type='video']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f1c8';
	padding-right: 13px;
}
.menubar-content[type='image'] {
	/*padding-left: 7px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;*/
}
.menubar-content[type='image']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f1c5';
	padding-right: 13px;
	/*content: url(//placehold.it/40x40);*/
}
.menubar-content[type='image'] img {
	display: inline;
}
.menubar-content[type='code']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f1c9';
	padding-right: 13px;
}
.menubar-content-main:after {
	font-family: "FontAwesome";
	content: '\f105';
	float: right;
	color: #ccc;
}
.menubar-content-active {
	background: rgba(248, 114, 23, .3);
}
/*.bar[type='folder'][state='closed'] .menubar-title:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f07b';
	padding-right: 10px;
}
.bar[type='folder'][state='open'] .menubar-title:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f07c';
	padding-right: 10px;
}*/
.file,
.folder {
	position: relative;
}
.file-name {
	position: relative;
/*	font-size: 90%;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 70%; 
	display: inline-block;
}
.file-info {
	float: right;
	font-size: 70%;
	color: rgba(255,255,255,.3);
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin-top: -10px; /* move file info up 10px because its too low otherwise for some reason*/
	text-align: right;
}
.file-info:after {
	/*content: " · ";*/
}
.file-info-item {
	min-width: 50px;
	/*padding: 0 20px;*/
}
.file-type-icon {
	position: relative;
	font-size: 35px;
}
.clickmenu {
	position: absolute;
	width: 200px;
	height: auto;
	z-index: 101;
	padding: 0;
	margin: 0;
	font-size: 80%;
	border: 2px solid #292929;
}
.clickmenu ul {
	margin: 0;
	padding: 0;
}
.clickmenu li {
	padding: 10px 15px;
	background: #333;
	border-bottom: 1px solid #292929;
}
.clickmenu li:last-child {
	border-bottom: none;
}
.clickmenu li:hover {
	background: #444;
}
.clickmenu li i {
	margin-right: 10px;
	font-size: 150%;
	color: rgb(248, 114, 23);
	-webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.clickmenu li:hover i {
	color: rgb(255,165,0);
}
.menubar-content-view .file-name {
	font-size: 200%;
	position: absolute;
}
.menubar-content-view .file-view {
	position: absolute;
	width: 100%;
	margin-top: 15%;
	text-align: center;
	font-size: 1000%;
}
.menubar-content-view .file-view:before {
	font-family: 'FontAwesome';
	color: #666;
	content: '\f016';
}
.menubar-content-view .file-info {
	margin-top: 50%;
	float: left;
	font-size: 100%;
	display: none;
}
.menubar-content-view[type="text"] .file-view:before {
	content: '\f0f6';
}
.menubar-content-view[type='zip'] .file-view:before {
	content: '\f1c6';
}
.menubar-content-view[type='pdf'] .file-view:before {
	content: '\f1c1';
}
.menubar-content-view[type='text'] .file-view:before {
	content: '\f0f6';
}
.menubar-content-view[type='audio'] .file-view:before {
	content: '\f1c7';
}
.menubar-content-view[type='video'] .file-view:before {
	content: '\f1c8';
}
.menubar-content-view[type='image'] .file-view:before {
	content: '\f1c5';
}
.menubar-content-view[type='code'] .file-view:before {
	content: '\f1c9';
}
.modal-background {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	display: none;
	background: rgba(0,0,0,.5);
	z-index: 199;
}
.modal {
	position: absolute;
	top: 15%;
	width: 400px;
	left: 0;right: 0;margin: auto;padding: auto;
	background: #333;
	color: #ccc;
	font-family: 'quicksandlight', sans-serif;
	z-index: 200;
}
.modal-content-input::selection {
	background: rgba(248, 114, 23, .3);
}
.modal-header {
	padding: 10px;
	background: #222;
	border-bottom: 2px solid rgb(250, 101, 0);
}
.modal-content {
	padding: 10px;
}
.modal-content-input {
	padding: 5px;
	margin: 10px 0;
	border: none;
	background: rgba(255,255,255,.05);
	color: #aaa;
	-webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    width: 97%;
}
.modal-footer {
	padding: 10px;
/*	background: rgba(255,255,255,.03);*/
	text-align: center;
}
.modal-footer .btn {
	background: rgba(255,255,255,.1);
	padding: 5px 40px;
	margin: 0 10px;
	border: none;
	font-size: 10pt;
	color: #aaa;
}
.modal-footer .btn:hover {
	background: rgba(250,101,0,.5);
}
.modal-header #modal-header-name {
	color: rgb(250,101,0);
	font-family: sans-serif;
}
.dz-uploadprogress {
	background: rgba(248, 114, 23, .3);
	position: absolute;
	height: 39px;
	display: inline;
	margin-top: -10px;
	margin-left: -52px;
}
.spinner {
  width: 30px;
  height: 30px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.menubar-action-btn {
	position: relative;
	float: right;
}