/*
 * foxfile.css - FoxFile
 * (C) Theodore Kluge 2014-2015
 * villa7.github.io
*/

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #ccc;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #222;
	overflow: hidden;
}
::selection {
	background: rgba(255,255,255,.1) !important;
}
#wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	color: #ccc;
}
hr {
	border-top: rgba(255,255,255,.3);
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #a50;
}
.alertbox {
	position: fixed;
	bottom: 60px;
	right: 20px;
	width: auto;
	color: #fff;
	text-align: center;
	z-index: 100;
}
.alert-item {
	position: relative;
	display: none;
	border: 1px solid #000;
	border-radius: 5px;
	width: auto;
	padding: 3px 20px;
	margin: 0;
	margin-top: 3px;
	/*-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;*/
}
.alert-error {
	border-color: #f70d1a !important;
	background: rgba(246, 40, 23,.4) !important;
}
.alert-warning {
	border-color: #d4a017 !important;
	background: rgba(212, 160, 23,.4) !important;
}
.alert-info {
	border-color: #1589ff !important;
	background: rgba(21, 137, 255,.4) !important;
}
.alert-success {
	border-color: #41a317 !important;
	background: rgba(65, 163, 23,.4) !important;
}
.footer {
	position: absolute;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	width: 100%;
	bottom: 0px;
	left: 0px;
	height: 40px;
	border-top: #000 1px solid;
	background: rgba(255,255,255,.2);
	font-family: 'aruallight', sans-serif;
	font-weight: bolder;
}
.smalltext {
	font-size: 12px;
}
.copyright {
	position: absolute;
	left: 0;
	margin-left: 20px;
}
.bar {
	background: #222;
	/*position: relative;*/
	width: 25%;
	position: absolute;
	float: left;
	padding: 0px;
	-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.bar-main {
	width: 25%;
	background: #222;
	border-left: none;
}
.bar-vertical {
	min-height: 100%;
	border-left: 2px solid #333;
	margin-left: -2px;
}
.bar-full {
	width: 75%;
	left: 25%;
}
.menubar {
	border-top: solid 2px rgb(250, 101, 0);
}
.title,
.menubar-title {
	/*background: rgba(0,0,0,.2);*/
	background: #222;
	font-size: 20pt;
	padding: 20px;
	/*padding-bottom: 5px;*/
	letter-spacing: 5px;
	font-family: 'quicksandlight', sans-serif;
}
.menubar-title:not(.title) {
	letter-spacing: 0 !important;
}
.menubar-content {
	padding: 5px 20px;
	border-bottom: 1px solid #2c2c2c;
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menubar-content-main,
.menubar-content {
	padding: 10px 20px;
	font-size: 90%;
}
.menubar-content-user {
	padding: 20px 20px;
	font-size: 110%;
}
.menubar-content:not(.menubar-content-active):hover {
	background: rgba(255,255,255,.08);
	-webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.menubar-content-active {
	background: rgba(248, 114, 23, .3);
}
/*.menubar-content-active:hover {
	background: rgba(248, 114, 23, .8);
}*/
.menubar-content:before { /*default to file icon*/
	color: #666;
	font-family: 'FontAwesome';
	content: '\f016';
	padding-right: 13px;
	font-size: 120%;
}
.menubar-content-user:before,
.menubar-content-main:before {
	content: "" !important;
}
.menubar-content[type='file']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f016';
	padding-right: 13px;
}
.menubar-content .file-info #filesize:after {
	color: #666;
	content: " MB";
}
.menubar-content[type='folder'] .file-info #filesize:after {
	color: #666;
	content: " Items";
}
.menubar-content[type='folder'] .file-info:after {
	font-family: 'FontAwesome';
	content: '\f105';
	float: right;
	color: #ccc;
	padding-left: 20px;
	font-size: 15pt;
}
.menubar-content .file-info:after {
	content: ' '; /*1 character blank space character*/
	float: right;
	padding-left: 16px;
	font-size: 15pt;
}
.menubar-content[type='folder'][state='closed']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f07b';
	padding-right: 10px;
}
.menubar-content[type='folder'][state='open']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f07c';
	padding-right: 10px;
}
.menubar-content[type='zip']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f1c6';
	padding-right: 13px;
}
.menubar-content[type='pdf']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f1c1';
	padding-right: 13px;
}
.menubar-content[type='text']:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f0f6';
	padding-right: 13px;
}
.menubar-content-main:after {
	font-family: "FontAwesome";
	content: '\f105';
	float: right;
	color: #ccc;
}
/*.bar[type='folder'][state='closed'] .menubar-title:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f07b';
	padding-right: 10px;
}
.bar[type='folder'][state='open'] .menubar-title:before {
	color: #666;
	font-family: 'FontAwesome';
	content: '\f07c';
	padding-right: 10px;
}*/
.menubar-content .file-info #filetype {
	margin-right: 20px;
	display: none;
}
.file,
.folder {
	position: relative;
}
.file-name {
	position: relative;
/*	font-size: 90%;*/
}
.file-info {
	float: right;
	font-size: 70%;
	color: rgba(255,255,255,.3);
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	margin-top: -10px; /* move file info up 10px because its too low otherwise for some reason*/
}
.file-info:after {
	/*content: " · ";*/
}
.file-info-item {
	min-width: 50px;
	/*padding: 0 20px;*/
}
.file-type-icon {
	position: relative;
	font-size: 35px;
}
