@import 'styles';

.root {
	height: 100%;
}
.preloader {
	height: 100vh;
	width: 100vw;
	background: $background-1;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	opacity: 1;
	transition: all 0.3s $transition;

	.keybox {
		width: 400px;
		padding-left: 35px;
		margin-bottom: 10px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s $transition;

		&.active {
			max-height: 235px;
		}
		label {
			h1 {
				font-weight: normal;
				font-size: 1.2rem;
			}
		}
		.error {
			color: $color-red;
			display: inline-block;
			padding: 0 0 6px 0;
		}
		p {
			color: $black-2;
		}
		.input-container {
			position: relative;

			input {
				height: 40px;
				width: 100%;
				padding: 0;
				margin: 0;
				text-indent: 6px;
				font-size: 1.2rem;
				margin-bottom: 5px;
				border: 1px solid $black-4;
			}
			.input-placeholder {
				display: inline-block;
				position: absolute;
				top: 10px;
				left: 6px;
				color: $black-3;
				pointer-events: none;
			}
			input:valid ~ .input-placeholder,
			input:focus ~ .input-placeholder {
				display: none;
			}
			button {
				height: 40px;
				min-width: 40px;
				width: 100%;
				text-align: center;
				border: 1px solid $black-4;
				background: $black-6;
				text-transform: uppercase;
				color: $black-3;
				transition: background 0.2s $transition,
							border 0.2s $transition,
							color 0.2s $transition;
			}
			input:valid ~ button {
				border: 1px solid $accent-1;
				background: $accent-1;
				color: white;
				cursor: pointer;
			}
		}
	}
	.keybox.active + .steps {
		border-top: 1px solid $black-4;
	}
	.steps {
		width: 240px;
		// height: 200px;
		list-style: none;
		margin: 0;
		padding: 14px 0;
		border-top: none;
		transition: border-top 0.4s $transition;

		li {
			height: 30px;
			line-height: 30px;
			font-size: 1.2rem;
			transition: 0.3s color $transition;

			&.done {
				color: $black-3;

				.spinner circle {
					stroke: transparent;
				}
			}
			&.running {
				color: $text-dark-primary;
			}
			&.waiting {
				color: $black-4;

				.spinner circle {
					stroke: transparent;
				}
			}

			.spinner {
				// display: none;
				float: left;
				height: 20px;
				width: 20px;
				margin: 5px;
				// vertical-align: middle;
			}
			span {
				display: inline-block;
				line-height: 30px;
				margin-left: 5px;
				// vertical-align: middle;
			}
		}
	}
	.progress {
		position: absolute;
		top: 0;
	}
	&.done {
		opacity: 0;
		pointer-events: none;
	}
}
.page-header {
	height: 50px;
	box-shadow: $shadow-1;
	background: $accent-1;
	color: $text-light-primary;
	z-index: 2;

	.title {
		margin: 0;
		font-weight: normal;
		display: inline-block;
		line-height: 50px;
		font-size: $font-size-large;
		margin-left: 10px; 
	}
}
.breadcrumbs {
	$breadcrumb-height: 30px;
	height: $breadcrumb-height;
	box-shadow: $shadow-0;
	background: white;
	z-index: 1;

	.breadcrumb {
		position: relative;
		display: inline-block;
		height: $breadcrumb-height;
		line-height: $breadcrumb-height;
		padding: 0 18px 0 0;
		cursor: default;
		user-select: none;

		&:first-of-type {
			margin-left: 10px;
		}
		&:before {
			content: '›';
			position: absolute;
			right: 6px;
			top: 0;
			line-height: $breadcrumb-height;
			color: $text-dark-secondary;
		}
		&:last-of-type {
			padding: 0;

			&:before {
				content: '';
			}
		}
		&:hover {
			color: $accent-1;
		}
	}
}
.file-manager {
	width: 100%;
	height: 100%;

	$header-height: 50px;
	$file-height: 40px;
	.folder-menu {
		width: 300px;
		height: 100%;
		display: inline-block;
		position: absolute;
		transition: left .5s $transition,
					background .5s $transition;
		
		&.hidden {
			position: absolute;
			left: 0;
			top: 0;
		}
		header {
			height: $header-height;
			position: relative;
			border-bottom: 2px solid $accent-1;

			span {
				position: absolute;
				display: inline-block;
				height: #{$header-height / 2 - 6px};
				line-height: #{$header-height / 2 - 6px};
				width: 100%;
				padding: 0 10px;
				@include ellipsis();

				&.user-name {
					top: 6px;
				}
				&.user-email {
					bottom: 6px;
					color: $text-dark-secondary;
				}
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				height: $file-height;
				line-height: $file-height;
				padding: 0 10px;
				border-bottom: 1px solid $black-5;
				user-select: none;

				&:last-of-type {
					border-bottom: none;
				}
				&:hover,
				&.selected {
					background: $black-5;
				}
			}
		}
	}
	.folder {
		// min-width: 340px;
		height: 100%;
		display: inline-block;
		// position: relative;
		position: absolute;
		pointer-events: initial;
		transition: left .5s $transition,
					background .5s $transition;

		&:before {
			position: absolute;
			content: '';
			height: 100%;
			width: 1px;
			top: 0;
			left: 0;
			background: $black-5;
		}
		&.hidden {
			position: absolute;
			left: 0;
			top: 0;
		}
		// &:last-of-type,
		&.folder-last {
			box-shadow: $shadow-3;
			flex: 1;
			background: white;

			&:before {
				background: transparent;
			}
			.bottom-border {
				background: $black-4;
			}
			header:hover {
				background: transparent;
			}
		}
		&.dragging {
			background: $black-4;
		}
		header {
			position: relative;
			height: $header-height;
			cursor: default;

			button {
				width: 10px;
				height: $header-height;
				padding: 0;
				border: none;
				outline: none;
				background: transparent;
				font-size: $font-size-large;
				color: transparent;
			
				&.leftmost {
					width: 30px;
					color: $text-dark-secondary;

					&:hover {
						color: $accent-1;
					}
				}
			}
			h1 {
				position: relative;
				font-weight: normal;
				margin: 0;
				font-size: $font-size-large;
				display: inline-block;
				line-height: $header-height;
				padding: 0 10px 0 0;
				@include ellipsis();
			}
			.progress {
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
			}
			.bottom-border {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				background: $accent-1;
			}
			&:hover {
				background: $black-5;
			}
		}
		.scroller {
			outline: none;
			width: 100% !important;
			// pointer-events: none;

			& > div {
				max-width: 100% !important;
			}
			.file {
				// pointer-events: initial;
				padding: 0 10px;
				line-height: 40px;
				border-bottom: 1px solid $black-5;
				cursor: default;
				user-select: none;

				&:last-of-type {
					border-bottom: none;
				}
				&.selected, {
					background: $black-5;
				}
				&.dragging {
					background: $black-4;
				}
				&:hover:not(.selected) {
					background: $black-6;
				}
				&[data-type=folder] {

				}
			}
		}
	}
	.files {
		height: calc(100% - 80px);
		// right: 0;
		// left: 0;
		// min-width: 100%;
		display: flex;
		position: absolute;
	}
}